* {
     margin:0;
     padding:0;
     box-sizing:border-box ;
     direction:rtl;
     font-family:'dubai';
     
 }
 
@font-face {
    font-family:'dubai';
    src:url();
    font-family:'hanimation';
    src:url();
}

a {
    text-decoration:none ;
}


header {
    width:100%;
    height:300px;
    background-image:url('back.jpg');
    background-repeat:no-repeat ;
    background-position:cover;
    background-size:100%;
    margin-bottom:0;
    padding-top:20px;
    direction :rtl; 
}


.white_border {
    width:90%;
    max-width:520px;
    height:auto;
    padding:20px;
    margin-left:auto ;
    margin-right:auto ;
    /*border:3.5px #FFF solid;*/
    color:#FFF;
    font-family:'dubai';
    
}

.white_border h1 {
    /*font-size:30px;*/
    text-align:center ;
    font-family:'dubai-light';
    animation:title-load 0.5s ease-in;
}

.white_border h2 {
    font-family:'dubai-light';
    text-align:center ;
    animation:title-load_2 0.5s ease-in;
}


.white_border hr {
    margin-top:3px;
    margin-right:auto ;
    margin-left:auto;
    margin-bottom:3px;
    height:6px;
    background-color:#FFF;
    animation:nav-load-link 0.5s ease-in;
}





@keyframes title-load {
    0% {
        transform: translateX(-100%);
    }
    
    100% {
        transform:translateY(0);
    }
}

@keyframes title-load_2 {
    0% {
        transform: translateX(+200%);
    }
    
    100% {
        transform:translateY(0);
    }
}





@keyframes nav-load-link {
    0% {
    width:0;
    }

    100% {
    width:100%;
    margin-right:auto ;
    margin-left:auto;
    }
}


.benefits_title {
    color:#337777;
    width:197px;
    padding-bottom:10px;
    margin-right:auto ;
    margin-left:auto;
    font-family:'dubai-bold';
    align:center ;
    line-height:35px;
    margin-top:30px; 
    border-bottom:4px  #337777 solid;
}


.pic_benefits {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    width:98%;
    height:730px; 
    margin-right:auto ;
    margin-left:auto;
    padding-top:0px;
    background :#FFF; 
}

.second {
    display :none; 
}


.pic_benefits .img_cnt {
    width:95%;
    height:180px;
    /*max-width:450px;*/
    margin-right:auto ;
    margin-left:auto; 
}


.pic_benefits .img_cnt img {
    width:100%;
    height:100%;
    background-color:#000;
    margin-top:0;
}


.pic_benefits .benfits_txt_cnt {
    font-family:'dubai';
    padding-top:20px;
    /*max-width:450px;*/
    max-height:400px; 
}

.pic_benefits .benfits_txt_cnt ul {
    padding:25px;
    padding-top:10px;
    list-style-type:decimal ;
}
.pic_benefits .benfits_txt_cnt ul li {
    padding-top:5px;
    margin-bottom:10px;
}

.blog_cnt {
    display:flex; 
    flex-wrap:wrap; 
    justify-content: center;
    width:98%;
    height:500px; 
    margin-left:auto;
    margin-right:auto; 
    margin-top:100px; 
}

.blog_cnt .blog_title {
    width:290px;
    text-align:center;
}

.blog_cnt .txt_cnt {
    max-width:450px;
    margin-right:auto ;
    margin-left:auto ;
}

.blog_cnt p {
    padding-top:40px;
    padding-bottom:40px;
}

.blog_cnt .img_cnt {
    width:98%;
    /*max-width:450px; */
    height:180px; 
    margin-right:auto ;
    margin-left:auto ;
}


.blog_cnt .img_cnt  img {
    width:100%;
    height:100%;
}


.serv_title {
    color:#FFF;
    width:120px;
    padding-bottom:10px;
    margin-right:auto ;
    margin-left:auto;
    font-family:'dubai-bold';
    text-align:center ;
    line-height:35px;
    margin-top:20px; 
    border-bottom:4px  #FFF solid;
}

.serv_sec {
	background:#000;
	width:100%;
	margin:80px auto 0 auto;
	color:#FFF; 
	padding-top:30px; 
}
.all_services_container {
    width:100%;
    margin-top:50px; 
    height:auto ;
    display:flex; 
    flex-wrap:wrap; 
    align-content:space-between;
}

.service_container {
    width:300px; 
    height:200px;
    margin-left:auto; 
    margin-right:auto;
    margin-top:10px; 
    margin-bottom:0;
}

.service_container .service_img_container {
    width:70px; 
    height:70px; 
    margin-top:2px; 
    margin-left:auto; 
    margin-right:auto; 
    margin-bottom:0;
}

.service_container .service_img_container img {
    width:100%;
    height:100%;
}

.service_container h4 {
    font-size:20px; 
    margin-top:25px; 
    line-height:10px; 
    text-align:center; 
    word-spacing:2px; 
}

.service_container p {
    font-size:16px; 
    max-width:250px; 
    margin:15px auto 0 auto; 
    text-align:center; 
    font-weight:300px; 
}
.contact_title {
	margin:50px auto 0 auto; 
    width:150px;
    padding-bottom:10px;
    font-family:'dubai-bold';
    line-height:35px;
    border-bottom:4px  #FFF solid;
}
.contact {
	margin:40px auto 0 auto; 
	height:480px; 
	width:100%;
	padding-right:20px;
	display :flex; 
	flex-wrap:wrap; 
}

.contact p {
	
	padding-right:20px; 
	padding-bottom:30px; 
}


.contact_inf {
	width:98%;
	max-width:320px; 
}

span {
	margin-left:20px; 
}


.numbers {
	text-align:center; 
}

.numbers span {
	margin:0;
}
footer {
	height:40px; 
	background:#000; 
	color:#FFF; 
	width:100%;
	line-height:40px; 
	text-align:center; 
}

.contact_sec {
	color:#FFF; 
}

@media all and (min-width:900px) {
    .pg_container{
        background :#800000; 
        padding-left:20px; 
        padding-right:20px; 
        padding-top:20px; 
        margin-top:0;
    }
    header {
        height:450px;
        padding-top:100px; 
    }
    .pic_benefits {
        width:100%;
        height:480px; 
        margin-top:30px; 
        padding-bottom:0px; 
    }
    
     .pic_benefits .img_cnt {
        height:480px; 
        background :#000;
        width:48%;
        margin-top:0px; 
        margin-left:0;
        background :#800000;
    }
    
    .pic_benefits .img_cnt img {
    }
    
    .pic_benefits .benfits_txt_cnt {
        padding-top:20px;
        width:48%;
        height:390px; 
    }
    .pic_benefits .benfits_txt_cnt ul {
        padding:5;
        padding:25px;
        padding-top:10px;
        list-style-type:none ;
    }
    .pic_benefits .benefits_txt_cnt ul li {
        padding-bottom:5px; 
        margin-bottom:0px; .
        border-bottom:5px #000 solid; 
}
    .second {
        display :block; 
        width:200px;
        margin-top:30px; 
        margin-right:10px; 
}
    .first {
        display :none; 
    }
    .blog_cnt {
        height:400px; 
        margin-top:30px; 
        width:100%;
        background :#FFF; 
    }
    
    .blog_cnt .txt_cnt {
        width:48%;
    }
    .blog_cnt .img_cnt {
        height:400px; 
        width:48%;
        margin-top:0px; 
        margin-left:0;
        background :#800000;
    }
    .blog_cnt .img_cnt  img {
    	height:100%;
    	margin:0;
    }
    
    .serv_sec {
    	margin-top:20px; 
    	padding-top:30px; 
    	padding-bottom:50px; 
    }
    
    .serv_title {
    	margin-bottom:30px; 
    }
    
    .contact {
    	height:200px; 
    	width:72%;
    	padding-bottom:20px; 
    }
    .numbers {
    	text-align:left; 
    	
    }
    .numbers span {
    	margin-left:20px; 
    }
}
