* {
     margin:0;
     padding:0;
     box-sizing:border-box ;
     direction:rtl;
 }
 
@font-face {
    font-family:'dubai';
    src:url();
    font-family:'hanimation';
    src:url();
}

a {
    text-decoration:none ;
}


header {
    width:100%;
    height:300px;
    background-image:url('https://i.suar.me/vqxLw/l');
    background-repeat:no-repeat ;
    background-position:cover;
    background-size:100%;
    margin-bottom:0;
    padding-top:50px;
    background-color:#000;
}


.white_border {
    width:90%;
    max-width:520px;
    height:auto;
    padding:20px;
    margin-left:auto ;
    margin-right:auto ;
    /*border:3.5px #FFF solid;*/
    color:#FFF;
    font-family:'dubai';
    
}

.white_border h1 {
    font-size:30px;
    text-align:center ;
    font-family:'cairo-bold';
    animation:title-load 0.5s ease-in;
}

.white_border h4 {
    font-family:'dubai-light';
    text-align:center ;
    animation:title-load_2 0.5s ease-in;
}


.white_border hr {
    margin-top:3px;
    margin-right:auto ;
    margin-left:auto;
    margin-bottom:10px;
    animation:nav-load-link 0.5s ease-in;
}





@keyframes title-load {
    0% {
        transform: translateX(-100%);
    }
    
    100% {
        transform:translateY(0);
    }
}

@keyframes title-load_2 {
    0% {
        transform: translateX(+200%);
    }
    
    100% {
        transform:translateY(0);
    }
}





@keyframes nav-load-link {
    0% {
    width:0;
    }

    100% {
    width:90%;
    }
}


.description {
    width:100%;
    margin-top:20px;
    padding-top:0;
}

.description p {
    width:95%;
    margin-right:auto ;
    margin-left:auto ;
    margin-top:0;
    padding-top:0;
    max-width:700px;
    font-family:'dubai';
    font-size:16px;
    color:#00001a;
    animation:load-txt 1s ease-out;
}


@keyframes load-txt {
    0% {
        opacity:0;
        margin-top:200px;
    }
    
    100% {
        opacity:100%;
        margin-top:20px;
    }
}


.services {
    margin:0 auto 0 auto;
    padding:100px 2.5% 100px 2.5%;
    width:100%;
    height:auto; 
    max-width:1200px;
    display:flex; 
    flex-wrap:wrap; 
    align-content:space-between;
}

.service_container {
    width:96%;
    max-width:290px; 
    height:400px;
    margin-left:auto; 
    margin-right:auto;
    margin-top:40px; 
    margin-bottom:0;
    background-color:#fff;
    box-shadow:1px 5px 5px #005461;
    border:1px solid #CCC;
    display :block; 
}

.service_container .service_img_container {
    width:70px; 
    height:70px; 
    border-radius:50%;
    margin-top:2px; 
    margin-left:auto; 
    margin-right:auto; 
    margin-bottom:0;
}

.service_container .service_img_container img {
    width:100%;
    height:100%;
}

.service_container h4 {
    font-size:17px; 
    color:#C7329D;
    margin-top:25px; 
    line-height:10px; 
    text-align:center; 
    word-spacing:2px; 
}

.service_container p {
    font-size:14px; 
    max-width:290px; 
    margin:15px auto 0 auto; 
    color:#777;
    text-align:center; 
    font-weight:300px; 
}





